body, header, nav, main, footer, h1, div, img, ul, figure, figcaption, section, article, aside, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
	background-color: #195ac2;
}
#container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
header {
	text-align: center;
}
nav {
	font-family: Georgia, "Times New Roman", serif;
	font-size: 1.25em;
	font-weight: bold;
	text-align: center;
	margin-top: -1.5em;
}
nav ul {
	padding: 0;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
nav li {
	background-color: #73a7fa;
	border-radius: 2em;
	list-style-type: none;
	margin: 0.3em;
	padding: 0.4em;
}
nav li a {
	color: #FFFFFF;
	text-decoration: none;
}
.mobile {
	display: inline;
}
.desktop {
	display: none;
}
main {
	display: block;
	font-family: Verdana, Arial, sans-serif;
	font-size: 1em;
	margin-top: 0.5em;
	padding: 1em;
	border-radius: 2em 0 2em 0;
	background-color: #FFFFFF;
	opacity: 0.85;
}
main a{
	background-color: #021e4b;
	border-radius: 1em;
	color: #FFFFFF;
	font-weight: bold;
	padding: 0.5em;
	text-decoration: none;
}
footer {
	font-size: .70em;
	text-align: center;
	margin-top: 2em;
	color: #FFFFFF;
}
footer a {
	color: #FFFFFF;
	text-decoration: none;
}
.tablet {
	display: none;
}
.equip {
	display: none;
}
aside {
	font-style: italic;
}
input, select, textarea {
	display: block;
	margin-bottom: 1em;
}
label {
	display: block;
}
form ul{
	list-style-type: none;
}
body {
	background-color:#195ac2;
}
#container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
header {
	text-align: center;
}
nav {
	font-family: Georgia, "Times New Roman", serif;
	font-size: 1.25em;
	font-weight: bold;
	text-align: center;
	margin-top: -1.5em;
}
nav ul {
	padding: 0;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
nav li {
	background-color: #73a7fa;
	border-radius: 2em;
	list-style-type: none;
	margin: 0.3em;
	padding: 0.4em;
}
nav li a {
	color: #FFFFFF;
	text-decoration: none;
}
.mobile {
	display: inline;
}
.desktop {
	display: none;
}
main {
	display: block;
	font-family: Verdana, Arial, sans-serif;
	font-size: 1em;
	margin-top: 0.5em;
	padding: 1em;
	border-radius: 2em 0 2em 0;
	background-color: #FFFFFF;
	opacity: 0.85;
}
main a{
	background-color: #021e4b;
	border-radius: 1em;
	color: #FFFFFF;
	font-weight: bold;
	padding: 0.5em;
	text-decoration: none;
}
footer {
	font-size: .70em;
	text-align: center;
	margin-top: 2em;
	color: #FFFFFF;
}
footer a {
	color: #FFFFFF;
	text-decoration: none;
}
.tablet {
	display: none;
}
.equip {
	display: none;
}
aside {
	font-style: italic;
}
input, select, textarea {
	display: block;
	margin-bottom: 1em;
}
label {
	display: block;
}
form ul{
	list-style-type: none;
}
